body {
    font-family: Arial;
    margin: 0;
    background: #f5f7fa;
}

.hero {
    background: linear-gradient(to right, #0a192f, #007BFF);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 30px;
    text-align: center;
}

.services .card {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
}

footer {
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 10px;
}
